body{
	background-color: #18F427;
}

#google_translate_element{
	margin-bottom: 15px;
} 

.container{
	vertical-align: middle;
	background-color: #228B22;
	margin: auto;
	width: 95%;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	border: 5px dotted #006400;
	padding: 10px;
}

.top{
	margin: auto;	
	text-align: center;
	margin-bottom: 25px;
}

h1{
	font-family: Century;
	font-size: 46px;	
	line-height: 50%;
}

.appName {
	color: #000080;
}

.cityName{	
	color: #FFFF00;
}

figure{
	background-color: #008000;
	border: 1px solid #000000;
	padding: 20 px; 
	height: 380px;
	width: 300px;
	margin: auto;

}

figcaption{
	text-align: center;
	font-size: 20px;
    color: #00FA9A; 
}

img{
	margin-top: 18px;
}

figure:hover::after{
	content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
	left: 780px;
	top: 300px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(111,245,158,0.55); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 14px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
	padding-top: 15px;
	padding-bottom: 15px;
    border: 1px dotted #333; /* Параметры рамки */
}

 .general_facts{
	left: 7%;
	text-align: justify;
	color: #98FB98;
	font-size: 22px; 
    padding: 5px 40px; 
	line-height:120%;
 }
  
 button:hover, .menuButton:hover{
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }
 
.menuButton {
    text-decoration: none;
    display: block;
    vertical-align: middle;
    padding: 12px 40px;
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #191970 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    transition: .5s;
 }
 
.menuButton:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
   border: 2px inset #4B0082; 
}

p, h2 {
	text-indent: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.2);
	margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
 }

h2{
	padding-top: 20px;
	text-align: center;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
	padding-bottom: 20px;
}

.name {	
	vertical-align: middle;
	text-decoration: none;
	display: block;
	margin: auto;
	width: 93%;
	height: 5%; 
	background: linear-gradient(to bottom, #00FF7F 0%, #00FF00 100%);
    font-size: 25px; 
    color: #8B008B; 
    border: 1px solid black; 
	border-radius: 30px; 
	margin-bottom: 30px;
 }
 
 .name:hover{
	vertical-align: middle;
	text-decoration:none;
	display:block;
	margin:auto;
	width: 93%;
	height: 5%; 
	background: linear-gradient(to top, #00BFFF 0%, #00FF00 100%);
    font-size: 28px; 
    color: #8B008B; 
    border: 1px solid black;
	border-radius: 30px; 
	margin-bottom: 30px;
 }
 
 a {
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow: rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }
 
 .text_info{
	 display: none;
 }